*{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue、Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
}
body{
    width: 100%;
}
a{
    text-decoration:none;
    color: white;
}
header{
    background-image: url(./images/coffee2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
header,main,footer{
    width: 100%;
}
.bg{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    background-attachment: fixed;
}
.menu.bg{
    background-image: url(./images/coffee-2139592_1920.jpg);
}
.about.bg{
    background-image: url(./images/4470190_m.jpg);
}
.location.bg{
    background-image: url(./images/ranking2.jpg);
}
.bg h1{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    color: white;
}
h2{
    font-size: 50px;
    border-bottom: rgb(223, 7, 7) 7px solid;
    display: inline-block;
    margin: 50px;
}
dl{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    font-size: 15px;
}
dt{
    border-bottom: 2px black dotted;
    width: 85%;
    
}

.content{
    width: 80%;
    margin: auto;
}
.menu-title{
    text-align: center;
    margin: 50px 0;
}
.header-list{
    margin: auto;
    padding: 16px;
    background: rgb(167, 164, 164);
    opacity: 0.8;
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}
.header-list h1{
    display: inline-block;
    font-family: cursive;
    cursor: pointer;
    font-size: 30px;
}
.header-list ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 90%;
}
.header-list li{
    margin:0 20px;
    font-size: 15px;
    font-weight: 600;
    
}
.header-list li a{
    color: white;
    filter: drop-shadow(1px 1px 1px black);
    transition:all 0.3s ease;
}
.header-list li a:hover{
    color: red;
}
.header-title{
    margin: auto;
}
.header-title h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: white;
    text-shadow: 0 0 10px rgb(8, 8, 8), 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #080808, 0 0 70px #0a0a0a, 0 0 80px #0a0a0a, 0 0 100px #0e0d0d, 0 0 150px #0a0a0a;
}
main{
    margin-top: 50px;
}
.menu-list{
    max-width: 1000px;
    margin: auto;
    padding: 16px;
    display: flex;
    margin-bottom: 50px;
}
.coffee{
    flex-grow: 1;
}
.food-other{
    flex-grow: 1;
}
.other h2{
    margin-top: 30px;
}
.ditail{
    max-width: 1000px;
    margin: auto;
    padding: 16px;
}
.ditail-title{
    text-align: center;
}
.ditail ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ditail li{
    
    width: 45%;
    font-size: 15px;
    line-height: 2;
    padding: 2%;
}
.btn{
    width: 100%;
    text-align: center;
}
.ditail p{
    display: inline-block;
    margin: 70px 0;
    padding: 15px 0;
    font-size: 20px;
}
.button {
    position: relative;
    padding: .5em 4em;
    border: 2px solid #fff;
    color: rgb(8, 8, 8);
    text-decoration: none;
    outline: none;
    transition: all .2s;
    text-align: center;
    width: 100%;
  }
  .button::before,
  .button::after {
    position: absolute;
    z-index: 2;
    content: '';
    width: 0;
    height: 0;
    border: 2px solid transparent;
    box-sizing: content-box;
  }
  .button::before {
    top: -2px;
    left: -2px;
  }
  .button::after {
    bottom: -2px;
    right: -2px;
  }
  .button:hover {
    color: #0c0c0c;
  }
  .button:hover::before,
  .button:hover::after {
    width: 100%;
    height: 100%;
  }
  .button:hover::before {
    border-bottom-color: #f02a08;
    border-left-color: #f02a08;
    transition: height .2s, width .2s .2s;
  }
  .button:hover::after {
    border-top-color: #f02a08;
    border-right-color: #f02a08;
    transition: height .2s .4s, width .2s .6s;
  }
  .ourstore{
      max-width: 1000px;
      margin: auto;
      padding: 16px;
  }
  .ourstore-title{
      text-align: center;
  }
  .guide{
      margin: 50px 0;
  }

  .address,.time,.tel{
      margin: 20px 0;
  }
  footer{
      text-align: center;
  }
footer p{
    margin: 20px 0;
    font-size: 15px;
}
@media(max-width:670px){
    .menu-list{
        flex-direction: column;
    }
    .bg h1{
        top: 40%;
        font-size: 50px;
    }
    .header-list h1{
        font-size: 20px;
    }
}
